@import url:("http://fonts.googleapis.com/css?family=Muli");

body {
	background: #F29700;
}

h1 {
	font-size: 40pt;
	margin: 20px 0;
}

h2 {
	font-size: 20pt;
	margin: 20px 0;
}

img {
	width: 200px;
}

section {
	text-align: center;
	font-family: Muli;
	color: #555;
}
