section {
	text-align: center;
}

.fail {
	background: #F25959;
	color: #a80c0c;
	height: 100px;
	padding: 7em 0;
	text-align: center;
}

.fail h1 {
	color: #9c3030;
	margin: 0px;
}

.fail img {
	width: 100px;
}