section {
	text-align: center;
}

.success {
	background: rgba(18,189,26,0.5);
	border-radius: 20px;
	border: solid 3px #18bd26;
	color: #158f1f;
	display: inline-block;
	margin: 2em 1em;
	height: 100px;
	max-width: 1000px;
	text-align: center;
}

.success h1 {
	color: #10851a;
	margin: 0px;
}