section {
	text-align: center;
}

.success {
	background: #7ADB7F;
	color: #158f1f;
	height: 100px;
	padding: 7em;
	text-align: center;
}

.success h1 {
	color: #10851a;
	margin: 0px;
}

.success img {
	width: 100px;
}