//Variables
bodybg = #EEE
color1 = #F29700
color2 = #D98700
color3 = #B26F00
color4 = #734800
color5 = #332000
facebook = #3B5999
gplus = #BC2D1D
linkedin = #2A497F
muli = 'Muli', sans-serif
textob = #DDD
textow = #555
twitter = #1AB2E8

//VISION 1
section
	padding-left .3em

.a-section
	span
		color color2
		margin-right .5em
	h2
		display inline-block

.hidden
	display none

.show
	display initial

#regando
	display none

//VISION 2
@media (min-width: 600px)
	section 
		text-align center
		padding 0 1em


@media (min-width: 1165px)

	#ases-left
		display inline-block

	#regando
		display inline-block
		vertical-align bottom
		img
			width 240px
			height 350px


	.ccontainer
		text-align left
		max-width 1270px
		padding 0 10px
		margin 0 auto
		overflow hidden