//Variables
lightcolor = #FF8B63
maincolor = #FF9800
darkcolor = #EF6C00 
darkestcolor = #E65100
breakcolor = #F50057
darkbreakcolor = #C51162

//Variables
bodybg = #EEE
facebook = #3B5999
gplus = #BC2D1D
linkedin = #2A497F
muli = 'Muli', sans-serif
textob = #DDD
textow = rgba(0,0,0,0.8)
twitter = #1AB2E8

section
	padding .3em

.asesoramiento-card
	background-color #DDD
	border-radius 5px
	box-shadow rgba(0,0,0,0.5) 3px 3px 10px
	color textow
	margin 0 .3em 1em .3em
	.asesoramiento-card__title
		background-color #222
		border-radius 5px 5px 0 0 
		padding .3em
	.asesoramiento-card__description
		padding .5em
		max-width 40em
		ul
			list-style-image url('../img/item.png')
			list-style-position inside
		
@media (min-width: 800px)
	section
		text-align center
	
	h1 
		text-align left
		
	.asesoramiento-card
		display inline-block
		.asesoramiento-card__title
			text-align left
		.asesoramiento-card__description
			display inline-block
			text-align left
			font-size 20px
			line-height 35px
			p 
				font-weight bold
			ul
				text-align left
				
@media (min-width: 1080px)
	.asesoramiento-card
		margin 1.5em 3em
		display block
		transition all .2s ease-in
		&:hover 
			transition all .7s ease-out
			box-shadow rgba(0,0,0,0.5) 7px 7px 10px
			
	.ccontainer
		max-width 1270px
		padding 0 10px
		margin 0 auto
		overflow hidden	
		h1
			margin-left .3em
			text-align left
			

