//Variables
bodybg = #EEE
color1 = #F29700
color2 = #D98700
color3 = #B26F00
color4 = #734800
color5 = #332000
facebook = #3B5999
gplus = #BC2D1D
linkedin = #2A497F
muli = 'Muli', sans-serif
textob = #DDD
textow = #555
twitter = #1AB2E8

//VISION 1
form
	background rgba(0,0,0,0.5)
	border solid 3px color2
	border-radius 15px
	color textob
	display inline-block
	max-width 300px
	margin-bottom 1em
	padding .3em
	text-align center
	span
		color color1
		font-weight bold

section
	padding-left .3em

#form-send
	background color2
	border solid 3px color3
	border-radius 5px
	color textob
	transition all .5s ease
	width 80px 
	height 40px
	&:hover
		background color1

.a-section
	cursor pointer
	text-decoration none
	&:hover span
		color color1
		margin-right 1em
	&:hover h2
		color color1
	span
		color color2
		margin-right .5em
		transition all .5s ease
	h2
		display inline-block
		color color2
		transition all .5s ease

.center-me
	text-align center

.hidden
	display none

#regando
	display none

#seleccion-de-personal, #recursos-humanos, #contable, #impositivo, #asesoria-negocios
	background rgb(230,230,230)
	border solid 3px color3
	padding .3em
	border-radius 15px
	margin .5em 0
	max-width 700px


//VISION 2
@media (min-width: 800px)
	article 
		display inline-block
		min-width 700px
		text-align left		
		p
			text-align justify

	#center-articles
		text-align center
		display block


@media (min-width: 1165px)

	#ases-left
		display inline-block
		vertical-align top
		max-width 700px

	#center-articles
		display inline-block
		text-align left

	#regando
		display inline-block
		vertical-align bottom
		width 300px
		height 437.5px

	#seleccion-de-personal, #recursos-humanos, #contable, #impositivo, #asesoria-negocios
		display inline-block
		width 700px
		p
			text-align justify


	.ccontainer
		text-align left
		max-width 1270px
		padding 0 10px
		margin 0 auto
		overflow hidden

	.center-me
		display inline-block
		max-width 300px
		margin-left 10%
		margin-top 7%
		img
			margin-top 15em
