//Colores
lightcolor = #FF8B63
maincolor = #FF9800
darkcolor = #EF6C00 
darkestcolor = #E65100
breakcolor = #F50057
darkbreakcolor = #C51162

//Variables
bodybg = #EEE
color2 = #D98700
facebook = #3B5999
gplus = #BC2D1D
linkedin = #2A497F
muli = 'Muli', sans-serif
textob = #FFF
textow = #555
twitter = #1AB2E8


//Vistas
section
	text-align center
	h1 
		text-align left

.impar
	display none

.new-job
	background #2684e8
	border-radius 20px
	color bodybg
	margin 1em .3em
	max-width 542px
	overflow hidden
	text-align left
	transition all .5s ease
	vertical-align top
	.job-button
		background #1667bc
		border-radius 20px
		text-align center
		transition all .2s ease-out
		&:hover
			background #00366e
		a 
			color bodybg
			display block
			padding .5em 2.45em
			text-decoration none
	.job-info
		padding .5rem .3rem 0 .3rem
		img
			width 25px
	.job-title
		padding-bottom 1rem
		h3
			display block
			font-size 16pt
			margin 0

.relative
	position relative
	
@media (min-width: 575px)
	.new-job, .closed-job
		width 545px
		display inline-block
		
@media (min-width: 845px)
	.new-job, .closed-job
		width 40%
		&:nth-child(even)
			margin-right 5%

@media (min-width: 1165px)
	.ccontainer
		max-width 1270px
		padding 0 10px
		margin 0 auto
		overflow hidden	
		h1
			margin-left .3em
			text-align left
			

	#cerradas
		// display flex
		// flex-wrap wrap
		// justify-content space-between
		// padding 0 20px 0 78px
		text-align center
		
	.closed-job
		width 545px	
		// margin-right auto
		&:nth-child(even)
			margin-right auto	

	.new-job
		width 545px
		&:nth-child(even)
			margin-right auto
		.job-info
			display inline-block
			width 375px
		.job-button
			display inline-block
			vertical-align top
			a 
				padding 3.2em 2.15em
