//Colores
lightcolor = #FF8B63
maincolor = #FF9800
darkcolor = #EF6C00 
darkestcolor = #E65100
breakcolor = #F50057
darkbreakcolor = #C51162

//Variables
bodybg = #EEE
color2 = #D98700
facebook = #3B5999
gplus = #BC2D1D
linkedin = #2A497F
muli = 'Muli', sans-serif
textob = #DDD
textow = #555
twitter = #1AB2E8

//Vistas
section
	text-align center
	h1 
		text-align left

#post-volunt
	background breakcolor
	border none
	color bodybg
	display inline-block
	height 70px
	transition all .5s ease-in
	&:hover
		background darkbreakcolor
	&:focus
		outline 0
		
#postulacion-voluntaria
	display none
	form
		background darkestcolor
		color textow
		display block
		margin .5em .3em
		overflow hidden
		padding .3em
		text-align center
		transition all 1s ease
		input 
			display inline-block
		input[type=text], input[type=email], input[type=number]
			background #FF9933
			margin .5em 0
			height 40px
			width 300px
			border none
			color #EEE
			padding-left .3em
			transition all .5s ease
			&:focus
				outline 0	
				box-shadow rgba(0,0,0,0.5) 5px 5px 20px
		::-webkit-input-placeholder
			color #EEE
			padding-left .3em
		:-moz-placeholder
			color #EEE
			padding-left .3em
		input[type=file]
			// padding .5em .2em
			margin .5em 0 1em 0
			max-width 300px
			max-height 40px
			background #FF9933
			border none
			color #EEE
		label
			color bodybg
			font-weight bold
			font-style italic
		h2
			margin-bottom .5em
			color bodybg
			font-size 40px
		span
			color darkestcolor
			font-weight bold
		.post-file
			height 40px
			&::-webkit-file-upload-button
				visibility hidden
			&::before
				content 'Cargar CV'
				display inline-block
				background darkcolor
				color bodybg
				padding .65em 1em
				white-space nowrap
				cursor pointer
				font-weight 700
				transition all .5s ease-in
			&:hover::before
				box-shadow rgba(0,0,0,0.5) 5px 5px 20px
		.post-enviar
			background breakcolor
			border none
			color bodybg
			height 50px
			margin-bottom .5em
			transition all .5s ease
			&:hover
				background darkbreakcolor
	
.impar
	display none

.new-job
	background maincolor
	margin 1em .3em
	max-width 545px
	text-align left
	transition all .5s ease
	vertical-align top
	&:hover
		box-shadow rgba(0,0,0,0.5) 5px 5px 20px
	.job-button
		background darkcolor
		text-align center
		transition all .5s ease-out
		&:hover
			background darkestcolor
		a 
			color #EEE
			display block
			padding .5em 2.45em
			text-decoration none
	.job-info
		padding .5rem .3rem 0 .3rem
		img
			width 25px
	.job-title
		background maincolor
		color bodybg
		padding-bottom 1rem
		h3
			display block
			font-size 16pt
			margin 0

.relative
	position relative
	
@media (min-width: 575px)
	.new-job
		width 545px
		display inline-block
		
@media (min-width: 845px)
	.new-job
		width 40%
		&:nth-child(even)
			margin-right 5%

@media (min-width: 1165px)

	#postulacion-voluntaria
		form
			width 1100px
			display inline-block
	
	.ccontainer
		max-width 1270px
		padding 0 10px
		margin 0 auto
		overflow hidden	
		h1
			margin-left .3em
			text-align left

	.new-job
		width 545px
		&:nth-child(even)
			margin-right auto
		.job-info
			display inline-block
			width 375px
		.job-button
			display inline-block
			vertical-align top
			a 
				padding 3.2em 2.15em