//Colores
lightcolor = #FF8B63
maincolor = #FF9800
darkcolor = #EF6C00 
darkestcolor = #E65100
breakcolor = #F50057
darkbreakcolor = #C51162

//Variables
bodybg = #EEE
color2 = #D98700
facebook = #3B5999
gplus = #BC2D1D
linkedin = #2A497F
muli = 'Muli', sans-serif
textob = #FFF
textow = #555
twitter = #1AB2E8


//Vistas
section
	text-align center
	h1 
		text-align left

.closed-job
	background #CCC
	color textow
	margin .3em
	max-width 545px
	padding-top 5px
	text-align left
	h3
		margin 0 0 10px 5px
	a 
		background #555
		color textob
		display block
		padding 10px
		text-align center
		text-decoration none
		transition all .2s ease-out
		&:hover
			box-shadow rgba(0,0,0,0.5) 5px 5px 10px
	p 
		color breakcolor
		font-weight bold
		margin 0 0 10px 5px
		
.closedimp
	visibility hidden
		

.impar
	display none

.new-job
	background maincolor
	margin 1em .3em
	max-width 545px
	text-align left
	transition all .5s ease
	vertical-align top
	.job-button
		background darkcolor
		text-align center
		transition all .2s ease-out
		&:hover
			box-shadow rgba(0,0,0,0.5) 5px 5px 10px
		a 
			color #EEE
			display block
			padding .5em 2.45em
			text-decoration none
	.job-info
		padding .5rem .3rem 0 .3rem
		img
			width 25px
	.job-title
		background maincolor
		color bodybg
		padding-bottom 1rem
		h3
			display block
			font-size 16pt
			margin 0

.relative
	position relative
	
@media (min-width: 575px)
	.new-job, .closed-job
		width 545px
		display inline-block
		
@media (min-width: 845px)
	.new-job, .closed-job
		width 40%
		&:nth-child(even)
			margin-right 5%

@media (min-width: 1165px)
	.ccontainer
		max-width 1270px
		padding 0 10px
		margin 0 auto
		overflow hidden	
		h1
			margin-left .3em
			text-align left
			

	#cerradas
		// display flex
		// flex-wrap wrap
		// justify-content space-between
		// padding 0 20px 0 78px
		text-align center
		
	.closed-job
		width 545px	
		// margin-right auto
		&:nth-child(even)
			margin-right auto	

	.new-job
		width 545px
		&:nth-child(even)
			margin-right auto
		.job-info
			display inline-block
			width 375px
		.job-button
			display inline-block
			vertical-align top
			a 
				padding 3.2em 2.15em
