//Variables
bodybg = #EEE
color1 = #F29700
color2 = #D98700
color3 = #B26F00
color4 = #734800
color5 = #332000
facebook = #3B5999
gplus = #BC2D1D
linkedin = #2A497F
muli = 'Muli', sans-serif
textob = #DDD
textow = #555
twitter = #1AB2E8

//VISION 1
section
	text-align center
	padding .3em
	h1
		text-align left
    
#afip
	padding-left 25%

#map
	iframe
		width 99%
		height 300px

#tarjeta-contacto
	background rgb(210,210,210)
	border-radius 10px
	border solid 3px color3
	color textow
	padding 0.3em
	div
		text-align left
	a 
		color color3

#transportes
	max-width 580px
	padding-top 1em
	.transporte-title
		text-align left
		background rgb(220,220,220)
		padding-left 1em
		border-radius 5px 5px 0 0 
		h2
			text-shadow color4 1px 1px 0
			display inline-block
			margin 0
	#subtes, #colectivos
		border solid 3px color3
		border-radius 8px
	.transporte-medios
		border-radius 0 0 5px 5px
		background rgb(210,210,210)
		p 
			display inline-block

@media (min-width: 625px)
	#datos-contacto
		display inline-block
		vertical-align top

	#map
		display inline-block

	#tarjeta-contacto
		max-width 580px
		display inline-block

	#transportes
		display inline-block
		width 580px

	.ccontainer
		max-width 1270px
		padding 0 10px
		margin 0 auto
		overflow hidden

@media (min-width: 1165px)

	#transportes
		width 450px
		vertical-align top
		padding-left 1em
		padding-top 0