//Variables
bodybg = #EEE
lightcolor = #FF8B63
maincolor = #FF9800
darkcolor = #EF6C00 
darkestcolor = #E65100
breakcolor = #F50057
darkbreakcolor = #C51162
facebook = #3B5999
gplus = #BC2D1D
linkedin = #2A497F
muli = 'Muli', sans-serif
textob = #DDD
textow = #555
twitter = #1AB2E8

//VISION 1
section
	text-align center
	padding .3em
	h1
		text-align left
    
#map-canvas
	width 99%
	height 300px

#postulacion-voluntaria
	form
		background darkcolor
		color textow
		display block
		margin .5em .3em
		overflow hidden
		padding .3em
		text-align center
		transition all 1s ease
		input 
			display inline-block
		input[type=text], input[type=email], input[type=number]
			background #FF9933
			margin .5em 0
			height 40px
			width 300px
			border none
			color #EEE
			padding-left .3em
			transition all .5s ease
			&:focus
				outline 0	
				box-shadow rgba(0,0,0,0.5) 5px 5px 20px
		::-webkit-input-placeholder
			color #EEE
			padding-left .3em
		:-moz-placeholder
			color #EEE
			padding-left .3em
		input[type=file]
			// padding .5em .2em
			margin .5em 0 1em 0
			max-width 300px
			max-height 40px
			background #FF9933
			border none
			color #EEE
		label
			color bodybg
			font-weight bold
			font-style italic
		h2
			color bodybg
			font-size 40px
			margin-bottom .5em
		span
			color darkestcolor
			font-weight bold
		.post-file
			height 40px
			&::-webkit-file-upload-button
				visibility hidden
			&::before
				content 'Cargar CV'
				display inline-block
				background darkestcolor
				color bodybg
				padding .65em 1em
				white-space nowrap
				cursor pointer
				font-weight 700
				transition all .5s ease-in
			&:hover::before
				box-shadow rgba(0,0,0,0.5) 5px 5px 20px
		.post-enviar
			background breakcolor
			border none
			color bodybg
			height 50px
			margin-bottom .5em
			transition all .5s ease
			&:hover
				background darkbreakcolor

#tarjeta-contacto
	background darkcolor
	color bodybg
	padding .3em
	div
		text-align center
	a 
		color bodybg
		text-decoration none
		font-weight bold

#transportes
	max-width 580px
	padding-top 1em
	.transporte-title
		text-align left
		background maincolor
		padding-left 1em
		h2
			color bodybg
			display inline-block
			margin 0
	.transporte-medios
		background darkcolor
		p 
			color bodybg
			display inline-block

@media (min-width: 625px)
	#datos-contacto
		display inline-block
		vertical-align top

	#map-canvas
		display inline-block
		width 300px
		margin .3em 0
		
	#postulacion-voluntaria
		display inline-block
		form
			width 580px

	#tarjeta-contacto
		max-width 580px
		display inline-block

	#transportes
		display inline-block
		width 580px

	.ccontainer
		max-width 1270px
		padding 0 10px
		margin 0 auto
		overflow hidden


@media (min-width: 1165px)

	#postulacion-voluntaria
		form
			width 1041px

	#transportes
		width 450px
		vertical-align top
		padding-left 1em
		padding-top 0
	
