//Variables
bodybg = #EEE
color1 = #F29700
color2 = #D98700
color3 = #B26F00
color4 = #734800
color5 = #332000
facebook = #3B5999
gplus = #BC2D1D
linkedin = #2A497F
muli = 'Muli', sans-serif
textob = #DDD
textow = #555
twitter = #1AB2E8

//VISION 1
section
	text-align center
	padding .3em
	h1
		text-align left
    
#afip
	padding-left 25%

#map
	iframe
		width 99%
		height 300px

#tarjeta-contacto
	background rgba(0,0,0,0.5)
	border-radius 10px
	color textob
	// max-width 400px
	padding 0.3em
	div
		text-align left
	a 
		color color1

@media (min-width: 625px)
	#datos-contacto
		display inline-block
		vertical-align top

	#map
		display inline-block

	#tarjeta-contacto
		max-width 580px
		box-shadow textow .5em .5em
		display inline-block

	.ccontainer
		max-width 1270px
		padding 0 10px
		margin 0 auto
		overflow hidden

