//Variables
bodybg = #EEE
color1 = #F29700
color2 = #D98700
color3 = #B26F00
color4 = #734800
color5 = #332000
facebook = #3B5999
gplus = #BC2D1D
linkedin = #2A497F
muli = 'Muli', sans-serif
textob = #DDD
textow = #555
twitter = #1AB2E8

//VISTA
form
	background rgba(237, 167, 76, 0.8)
	border-radius 10px
	color textow
	max-width 400px
	overflow hidden
	text-align center
	padding .3em
	transition all 1s ease
	input[type=text], input[type=email], input[type=number]
		background #FF9933
		margin .5em 0
		height 40px
		width 300px
		border solid 2px #B26F00
		color #EEE
		padding-left .3em
	::-webkit-input-placeholder
		color #EEE
		padding-left .3em
	::-moz-placeholder
		color #EEE
		padding-left .3em
	input[type=file]
		// padding .5em .2em
		margin .5em 0 1em 0
		max-width 300px
		max-height 40px
		background #FF9933
		border solid 2px #B26F00
		color #EEE
	label
		color color3
		font-weight bold
		font-style italic
	h2
		margin-bottom .5em
		color color3
		font-size 40px
	span
		color color4
		font-weight bold
	.post-file
		height 40px
		
		&::-webkit-file-upload-button
			visibility hidden
		&::before
			content 'Cargar CV'
			display inline-block
			background #B26F00
			color #EEE
			padding .65em 1em
			white-space nowrap
			cursor pointer
			font-weight 700
			transition all .5s ease-in
		&:hover::before
			background color2

.busqueda-activa
	display none

.center-me
	text-align center

.excluyente
	font-weight bold
	color color4

.left-side
	p
		max-width 50em
		text-align justify
	a 
		color color1
	ul
		li 
			max-width 50em
			text-align justify
.post-enviar
	background color1
	border solid 2px color3
	border-radius 10px
	height 50px
	margin-bottom .5em
	transition all .5s ease
	&:hover
		background color2

.referencia
	font-weight bold

.ccontainer
	max-width 1270px
	padding 0 10px
	margin 0 auto
	overflow hidden

@media (min-width: 500px)
	form
		display inline-block

	.left-side
		background #FFF
		box-shadow #DDD 3px 3px
		padding .3em
		margin .5em 0 .3em 0
		h1
			margin-top .3em

@media (min-width: 1200px)
	.busqueda-activa
		display inline-block
		margin-left 100px 
		margin-top 100px 
		vertical-align top
		width 200px

	.left-side
		display inline-block

	.post-mail
		padding-top .5em
		
	input[type=text], input[type=email], input[type=number]
		transition all 1s ease
		&:focus
			background color2