//Colors
lightcolor = #FF8B63
maincolor = #FF9800
darkcolor = #EF6C00 
darkestcolor = #E65100
breakcolor = #F50057
darkbreakcolor = #C51162

//Variables
bodybg = #EEE
color2 = #D98700
color5 = #332000
facebook = #3B5999
gplus = #BC2D1D
linkedin = #2A497F
muli = 'Muli', sans-serif
textob = #DDD
textow = #555
twitter = #1AB2E8

/*Vista 1*/
select
	border 1px solid maincolor
	color color2
	display block
	margin-left .5em

.block-me
	display block

.b-facebook 
	background facebook
	border solid 3px #0D2E70
	border-radius 100%
	margin 0
	transition all .5s ease-in
	a 
		color white
		cursor pointer
		display block
		padding .7em
		text-decoration none
	&:hover
		background #4F79B7


.b-gplus
	background gplus
	border solid 3px #961212
	border-radius 100%
	transition all .5s ease-in
	a 
		color white
		cursor pointer
		display block
		padding .7em
		text-decoration none
	&:hover
		background #EF392B

.b-twitter 
	background twitter
	border solid 3px #0D7F99
	border-radius 100%
	transition all .5s ease-in
	a 
		color white
		cursor pointer
		display block
		padding .7em
		text-decoration none
	&:hover
		background #2DCEF9

.center
	text-align center

.impar
	display none

.noticia-new
	background #FFF
	box-shadow #DDD 3px 3px 0
	color textow
	margin .5em
	max-width 545px
	text-align left
	p
		margin .2em
		text-align justify
	.fecha-container
		font-style italic
		margin .3em .2em .5em .2em
		.fecha
			color darkestcolor
			font-weight bold
	.noticia-botonholder
		text-align right
		.boton 
			background darkcolor
			cursor pointer
			display inline-block 
			margin  .5em 1em .5em 0
			text-align center
			transition all .5s ease-in
			width 120px
			a 
				color textob
				display block 
				padding  .8em .3em
				text-decoration none
			&:hover.boton
				background darkestcolor
	.noticia-leer
		color bodybg
		font-size 1.1em
		background darkcolor
		display inline
		font-weight bold
		border-radius 10px
		padding 0 .7em
		text-decoration none
		transition all .5s ease-in
		&:hover
			background darkestcolor
	.noticia-tag
		background darkestcolor
		box-shadow rgba(0,0,0,0.5) 5px 5px 20px
		margin-top 1em
		color textob
		font-style italic
		padding 2.5px 0
		padding-left .5em
		text-align right
		width 100px
	.noticia-title
		font-size 16pt
		color darkcolor
		font-weight bold
		margin .5em 0 1em 0
		padding-left .2em
		text-align left
		h3
			margin 0
			font-size 16pt
			padding-left .3rem

.noticia-social
	background rgba(0,0,0,0.1)
	display none
	height 5em
	max-width 545px 
	padding-top .5em
	text-align center
	ul
		list-style none
		margin 0
		padding 0
		li
			display inline-block
			font-size 23px
			margin .2em
			a
				color #FFF
				text-decoration none

.main-title
	margin-left .3em

@media (min-width: 570px)
	.ccontainer
		max-width 1270px
		padding 0 10px
		margin 0 auto
		overflow hidden



@media (min-width: 600px)
	section
		text-align center
		h1
			text-align left

	.noticia-new 
		display inline-block

	.impar
		display none

@media (min-width: 852px)

	.noticia-new
			display inline-block
			vertical-align top
			width 350px
			
@media (min-width: 974px)

	.noticia-new
			display inline-block
			vertical-align top
			width 450px


@media (min-width: 1200px)

	.block-me
		.noticia-new
			display block

	.ccontainer
		max-width 1270px
		padding 0 10px
		margin 0 auto
		overflow hidden

	.impar
		visibility hidden

	.noticia-new
		width auto