.left-side p {
  max-width: 50em;
  text-align: justify;
}
.left-side a {
  color: #f29700;
}
.left-side ul li,
.left-side ol li {
  max-width: 50em;
  text-align: justify;
}
.left-side .ccontainer {
  max-width: 1270px;
  padding: 0 10px;
  margin: 0 auto;
  overflow: hidden;
}
@media (min-width: 1200px) {
  .ccontainer {
    max-width: 1270px;
    padding: 0 10px;
    margin: 0 auto;
    overflow: hidden;
  }
  .left-side {
    display: inline-block;
  }
}
