//Variables
bodybg = #EEE
color1 = #F29700
color2 = #D98700
color3 = #B26F00
color4 = #734800
color5 = #332000
facebook = #3B5999
gplus = #BC2D1D
linkedin = #2A497F
muli = 'Muli', sans-serif
textob = #DDD
textow = #555
twitter = #1AB2E8

//VISION 1
section
	padding 0 .3em
	ul
		li
			a 
				text-decoration none
				color color1
				transition all .5s ease-out
				&:hover
					color color3

article
	background rgb(230,230,230)
	border solid 3px color3
	border-radius 15px
	margin 1em 0
	padding .3em .3em 1em .3em

.subir
	background color2
	border solid 3px color3
	color textob
	margin-left 2em
	border-radius 5px
	padding .3em
	transition all .5s ease-out
	&:hover
		background color4
	span
		padding-right .3em		


//VISION 2
@media (min-width: 1165px)
	section
		padding 0

	article
		p 
			text-align justify

	.ccontainer
		text-align left
		max-width 1270px
		padding 0 10px
		margin 0 auto
		overflow hidden