AddDefaultCharset UTF-8

RewriteEngine on

#Principales
RewriteRule ^inicio?$ index.html
RewriteRule ^asesoramiento?$ asesoramiento.html
RewriteRule ^busquedas?$ busquedas.html
RewriteRule ^noticias?$ noticias.html
RewriteRule ^contacto?$ contacto.html

#Busquedas
RewriteRule ^informacion/community-manager?$ sections/busquedas/comunitym.html
RewriteRule ^informacion/tecnico-de-campo?$ sections/busquedas/tecnicocampo.html
RewriteRule ^informacion/office-manager?$ sections/busquedas/officemanager.html
RewriteRule ^informacion/asistente-de-facturacion?$ sections/busquedas/asistfacturacion.html
RewriteRule ^informacion/asistente-contable?$ sections/busquedas/asistcontable.html

#Noticias
RewriteRule ^informacion/recursos-de-la-seguridad-social?$ sections/noticias/recursos-de-la-seguridad-social.html
RewriteRule ^informacion/resolucion-general-3653?$ sections/noticias/resolucion-afip-3653.html
RewriteRule ^informacion/pasante-en-situacion-de-embarazo?$ sections/noticias/pasante-en-situacion-de-embarazo.html
RewriteRule ^informacion/liquidacion-de-haberes?$ sections/noticias/liquidhaber.html


#Asesoramiento
RewriteRule ^informacion/recursos-humanos?$ sections/asesoramiento/recursos-humanos.html

#Alertas
RewriteRule ^success?$ sections/alerts/success.html
RewriteRule ^success-busquedas?$ sections/alerts/success-busquedas.html
RewriteRule ^fail?$ sections/alerts/fail.html

#Errores
ErrorDocument 403 /errores/403.html
ErrorDocument 404 /errores/404.html
ErrorDocument 500 /errores/500.html
ErrorDocument 503 /errores/503.html


